.bodyRegister{
    display: flex;
    width: 100%;
    height: 80vh;
    display: flex;
}

.tableRegister{
    width: 80%;
    height: 95%;
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}

#pagination{
    width: 15%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 1%;
    margin-top: 5%;
    height: 30%;
    gap: 10px;
    justify-content: center; 
  align-items: center;
  border: 1px solid #C5C8D5; 
  border-radius: 3px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#table-head{
    height: 10%;
}
#table-body{
    height: 90%;
}

.rowRegister{
   height: 10%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.rowRegisterhead{
    height: 100%;
     width: 100%;
     display: flex;
     border-bottom: 1px solid black;
 }

.cellRegister{
   
   min-height: 30px;
    width: 14.28%;
    border: 1px solid black; 
    word-wrap: break-word;
    font-size: 9pt;
    text-align: center;
}

#searchUsername{
    max-width: 90px;
}