.bodyRegister{
    display: flex;
    width: 100%;
    height: 80vh;
}

.tableRegister{
    width: 80%;
    height: 95%;
    margin-top: 5%;
    margin-left: 1%;
   
}

.rowRegister{
   height: 10%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.cellRegister{
   
   min-height: 30px;
    width: 14.28%;
    border: 1px solid black; 
}